
body {
    background-color:#ccd9ff /* #eff1f4; */
}


#main_nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
}

#main_nav_bar li {
    float: left;
}



#main_nav_bar li a {
    display: block;
    color: #bfbfbf; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#main_nav_bar  li a:hover {
    color: white;
    /* background-color: #111; */
}


/*
.main_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
    text-decoration: none
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none
}

li a:hover {
    background-color: #555;
    color: white;
}

.name {
	color: #cc6699;
	font-style: italic;
	font-family: Courier New;
}
*/
#mcontent {
  width: 50%;
  margin: 0 auto;
}
.tab1 {
    padding-left:2em
}
.tab2 {
    padding-left:4em
}
.tab3 {
    padding-left:6em
}
.tab4 {
    padding-left:8em
}
