
body {
    background-color:#ccd9ff /* #eff1f4; */
}

.main_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
    text-decoration: none
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none
}

li a:hover {
    background-color: #555;
    color: white;
}

.name {
	color: #cc6699;
	font-style: italic;
	font-family: Courier New;
}

#mcontent {
  width: 50%;
  margin: 0 auto;
}
.tab1 {
    padding-left:2em
}
.tab2 {
    padding-left:4em
}
.tab3 {
    padding-left:6em
}
.tab4 {
    padding-left:8em
}
