{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
    <h3 class="text-info">Project Euler Problems</h3>
    <!--
	 	<div class="list-group">
	 	{% for num in range(1,51) %}
	  		<a href="{{ url_for('euler',problem= num) }}" class="list-group-item">Problem {{ num }}</a>

	  	{% endfor %}
		</div>
		style="width:100%" -->
	<table class="table table-bordered table-hover">
	  <tr>
	    
	    <th>Problem</th>
	    <th>Python</th>
	    <th>Java</th>
	  </tr>

	  <tr>
	    <td>pb 27</td>
	    <td><a href="https://github.com/ibaf001/euler/blob/master/problem27.py">problem27.py</a></td>
	    <td>Problem27.java</td>
	  </tr>

	  <tr>
	    <td>pb 28</td>
	    <td><a href="https://github.com/ibaf001/euler/blob/master/problem28.py">problem28.py</a></td>
	    <td>Problem28.java</td>
	  </tr>

	  <tr>
	    <td>pb 31</td>
	    <td><a href="https://github.com/ibaf001/euler/blob/master/problem31.py">problem31.py</a></td>
	    <td>Problem31.java</td>
	  </tr>


	</table> 

    </div>
    <div class="col-md-2">

  </div>
 </div>



{% endblock %}