
{% extends "bootstrap/base.html" %}
{% block title %}mon site{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/main.css')}}">
{% endblock %}

<div class="container">
  <div class="row">

{% block navbar %}
<div class="main_menu" >
	<ul>
		<li><a href="{{ url_for('index')}}">Home</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="{{ url_for('about')}}">About</a></li>
		<li><a href="http://convertibo.herokuapp.com/" target="_blank">Converter</a></li>

     	<li><a href="{{ url_for('euler')}}">Euler</a></li>

	</ul>
  <!-- ... -->
</div>
{% endblock %}
  </div>

<div class="row">
{% block content %}

{% endblock %}
</div>


</div>